*{
    margin: 0;
    padding: 0;
}
body{
    text-align: center;
    background-image: url("login background.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 900px; ;
}
#navbar{
    height: 90px;
    background-color: rgb(30, 40, 47);
}
a{
    color: rgb(227, 83, 11);
    margin-top: 5px;
    margin-left: 100px;
    margin-right:100px ;
    font-weight: bolder;
    font-size: 20px;
    text-decoration: none;
}
#logo{
    text-decoration: solid;
    color: rgb(227, 83, 11);
    size: 15px;
}
.inputcity{
    font-size: large;
    border-color: black;
    width: 300px;
    height: 50px;
}
#to{
    width: 30px;
    height: 30px;
    font-size: medium;
    border-radius: 10px;
    border-color: rgb(0, 0, 0);
    background-color:rgb(255, 255, 255);
}
#date{
    font-size: 20px;
    width: 200px;
    height:40px;
}
#img1{
    width: 50px;
}
#booking{
    text-decoration: solid;
    color: rgb(255, 255, 255);
    font-size: 15px;
}
#if{
    margin-left: 20px;
}
.f{
    font-size: 20px;
}
#bgimg{
    height: 200px;
}
#search{
    width: 100px;
    height: 50px;
    font-size: medium;
    border-radius: 20px;
    border-color: rgb(0, 0, 0);
    background-color:rgb(61, 182, 212);
}
